/*[title] {*/
    /*color: red;*/
/*}*/

[title=W3School] {
    border: 5px solid blue;
}

/*适用于由空格分隔的属性值*/
[title~=hello] {
    color: red;
}

/*适用于连字符的属性值*/
[lang|=en] {
    color: green;
}

input[type="text"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
    font-family: Verdana, Arial;
}

input[type="button"] {
    width: 120px;
    margin-left: 35px;
    display: block;
    font-family: Verdana, Arial;
}